<?xml version="1.0" encoding="UTF-8"?>
<GENERAL-INFORMATION>

  <!-- Template version -->
  <TEMPLATE-VERSION>2.1.0</TEMPLATE-VERSION>

  <!-- Generation Tool versions which are supported by this Template -->
  <SUPPORTED-TOOL-VERSIONS>2.1.0</SUPPORTED-TOOL-VERSIONS>

  <!-- Parser Details for Config Module -->
  <PARSER-DETAILS>
    <!-- Module under test -->
    <MODULE-UNDER-TEST>OSIMP</MODULE-UNDER-TEST>
    <!-- Mandatory Modules required to Parse OsImp -->
    <MANDATORY-MODULES>OSIMP</MANDATORY-MODULES>
    <!-- All the Modules to be Parsed -->
    <MODULES>OSIMP</MODULES>
    <!-- Modules required MDT File information -->
    <MODULE-UNDER-TEST-MDT>Os_Imp_Cfg</MODULE-UNDER-TEST-MDT>

    <!-- Name of the containers and their corresponding reference parameters -->
    <SYMREF-PARAM>
 
    </SYMREF-PARAM>
    
    <REFERENCES>
 
    </REFERENCES>
    <!-- To check if the correct description file is provided as input.
      ArReleaseVersion in the description file is compared with the below versions -->
    <FOR-VERSION-CHECK>

    </FOR-VERSION-CHECK>

  </PARSER-DETAILS>

  <!-- Map Names -->
  <MAP-NAMES>
  <!-- List all SWC related tags for which map names are required -->
    <CONTAINER-DETAILS>
    </CONTAINER-DETAILS>
  </MAP-NAMES>

  <!-- Container Count -->
  <CONTAINER-COUNTS>
  </CONTAINER-COUNTS>

  <!-- Pre compile options -->
  <PRE-COMPILE-OPTIONS>
    <MACRO-ENTRY
        Name      = 'OS_DEBUG_CPULOAD'
        Type      = '1'
        Value     = 'STD_OFF'
        Pos       = '1'
        Prefix    = ''
        Postfix   = ''
        Comment   = 'Measure CPU/IT Load'
        Container = 'OsImpGeneral'
        Parameter = 'OsImpCpuLoad'
        Structure = '' >
    </MACRO-ENTRY>
    <MACRO-ENTRY
      Name      = 'OS_DEBUG_STACKDEPTH'
      Type      = '1'
      Value     = 'STD_OFF'
      Pos       = '2'
      Prefix    = ''
      Postfix   = ''
      Comment   = 'Enable or Disable Stack Depth feature'
      Container = 'OsImpGeneral'
      Parameter = 'OsImpDebugStackdepth'
      Structure = '' >
    </MACRO-ENTRY>
    <MACRO-ENTRY
      Name      = 'OS_ERRM_USED'
      Type      = '1'
      Value     = 'STD_OFF'
      Pos       = '3'
      Prefix    = ''
      Postfix   = ''
      Comment   = 'Whether ErrM is used or not used'
      Container = 'OsImpGeneral'
      Parameter = 'OsImpErrmUsed'
      Structure = '' >
    </MACRO-ENTRY>
    <MACRO-ENTRY
      Name      = 'OS_OPF_USED'
      Type      = '1'
      Value     = 'STD_OFF'
      Pos       = '4'
      Prefix    = ''
      Postfix   = ''
      Comment   = 'Whether OsProfiler is used or not used'
      Container = 'OsImpGeneral'
      Parameter = 'OsImpOpfUsed'
      Structure = '' >
    </MACRO-ENTRY>
    <MACRO-ENTRY
      Name      = 'OS_RAM_SECTOR_POR_COUNT'
      Type      = '5'
      Value     = '0'
      Pos       = '11'
      Prefix    = ''
      Postfix   = ''
      Comment   = 'Number of RAM Sector configured that RamInit Property is PowerOnReset'
      Container = ''
      Parameter = '' >
    </MACRO-ENTRY>
  </PRE-COMPILE-OPTIONS>

  <!-- Contains all consistency checks -->
  <CONSISTENCY-CHECKS>
  
    <!-- Mandatory check -->
    <MANDATORY-CHECK>
    </MANDATORY-CHECK>
  
  </CONSISTENCY-CHECKS>

  <!-- Static codes that to be added in the output files -->
  <OUTPUT-FILES>
    <Os_Imp_Cfg.h>
      <TEMPLATE>/*******************************************************************************
**  FILE-NAME: Os_Imp_Cfg.h                                                   **
**                                                                            **
**  MODULE-NAME: AUTOSAR OS Improvement Code                                  **
**                                                                            **
**  NOTE: This file is auto generated, do not edit this file manually.        **                                                                
**                                                                            **
********************************************************************************

********************************************************************************
**                      Generation Tool Information                           **
********************************************************************************
TOOL_VERSION
**                                                                            **
**  Change History: Refer log file (use -l option to generate log file)       **
**                                                                            **
********************************************************************************
**                      File Generation Information                           **
*******************************************************************************/

CREATED_DATE_FILE

/*******************************************************************************
**              PRE-JUSTIFICATION BEGIN (MISRA-C RULE CHECKER)                **
*******************************************************************************/
/* polyspace:begin&lt;MISRA-C:8.9:Not a defect:Justify with annotations&gt; This variable is defined in .ld file. So external definition is not visible in Polyspace */
/* polyspace:begin&lt;MISRA-C:8.12:Not a defect:Justify with annotations&gt; External linkage with array size makes error because of compiler optimization  */
/* polyspace:begin&lt;MISRA-C:11.3:Not a defect:Justify with annotations&gt; This is usage constraints of symbol defined in .ld file. */

#ifndef OS_IMP_CFG_H
#define OS_IMP_CFG_H

/*******************************************************************************
**                      Include Section                                       **
*******************************************************************************/
#include "Os.h"

/*******************************************************************************
**                      Global Data Types                                     **
*******************************************************************************/
/** This structure defines Ram Sector information */
typedef struct
{
  uint32 ulDefaultValue; /**&lt; The Data pre-setting to be initialized */
  uint32 ulBaseAddress;  /**&lt; RAM section base address */
  uint32 ulSize;         /**&lt; RAM section size in bytes */
} Os_RamSectorType;

/*******************************************************************************
**                      Pre-compile options/Macros                            **
*******************************************************************************/
PRECOMPILE_OPTIONS
MACRO

extern CONST(uint32, OS_CONST) Os_Ram_Sector_Por_Count;
extern CONST(Os_RamSectorType, OS_CONST) Os_GaaRamSectorInitPowerOnReset[OS_RAM_SECTOR_POR_COUNT];

/*******************************************************************************
**                      Function Prototypes                                   **
*******************************************************************************/
EXTERN_DECL

#endif /* OS_IMP_CFG_H */

/*******************************************************************************
**              PRE-JUSTIFICATION END (MISRA-C RULE CHECKER)                  **
*******************************************************************************/
/* polyspace:end&lt;MISRA-C:8.9:Not a defect:Justify with annotations&gt; This variable is defined in .ld file. So external definition is not visible in Polyspace */
/* polyspace:end&lt;MISRA-C:8.12:Not a defect:Justify with annotations&gt; External linkage with array size makes error because of compiler optimization  */
/* polyspace:end&lt;MISRA-C:11.3:Not a defect:Justify with annotations&gt; This is usage constraints of symbol defined in .ld file. */

/*******************************************************************************
**                      End of File                                           **
*******************************************************************************/
</TEMPLATE>
    </Os_Imp_Cfg.h>
    <Os_Imp_Cfg.c>
      <TEMPLATE>/*******************************************************************************
**  FILE-NAME: Os_Imp_Cfg.c                                                   **
**                                                                            **
**  MODULE-NAME: AUTOSAR OS Improvement Code                                  **
**                                                                            **
**  NOTE: This file is auto generated, do not edit this file manually.        **
**                                                                            **
********************************************************************************

********************************************************************************
**                      Generation Tool Information                           **
********************************************************************************
TOOL_VERSION
**                                                                            **
**  Change History: Refer log file (use -l option to generate log file)       **
**                                                                            **
********************************************************************************
**                      File Generation Information                           **
*******************************************************************************/

CREATED_DATE_FILE

/*******************************************************************************
**              PRE-JUSTIFICATION BEGIN (MISRA-C RULE CHECKER)                **
*******************************************************************************/
/* polyspace:begin&lt;MISRA-C:11.3:Not a defect:Justify with annotations&gt; This is usage constraints of symbol defined in .ld file. */

/*******************************************************************************
**                      Include Section                                       **
*******************************************************************************/
#include "Os_Imp_Cfg.h"

/*******************************************************************************
**                      Global Data                                           **
*******************************************************************************/
#define OS_START_SEC_CONST_32
#include "MemMap.h"
CONST(uint32, OS_CONST) Os_Ram_Sector_Por_Count =
                                                (uint32)OS_RAM_SECTOR_POR_COUNT;
#define OS_STOP_SEC_CONST_32
#include "MemMap.h"

Os_GaaRamSectorInitPowerOnReset

/*******************************************************************************
**                      Function definition                                   **
*******************************************************************************/

/*******************************************************************************
**              PRE-JUSTIFICATION END (MISRA-C RULE CHECKER)                  **
*******************************************************************************/
/* polyspace:end&lt;MISRA-C:11.3:Not a defect:Justify with annotations&gt; This is usage constraints of symbol defined in .ld file. */

/*******************************************************************************
**                      End of File                                           **
*******************************************************************************/
</TEMPLATE>
      <STRUCTURES-AND-ARRAYS>
        <STRUCTURE-ARRAY-ENTRY>
          <NAME>Os_GaaRamSectorInitPowerOnReset</NAME>
          <COMMENT>/* CONST(Os_RamSectorType, OS_CONST) Os_GaaRamSectorInitPowerOnReset[]; */</COMMENT>
          <FIELD>ulDefaultValue ulBaseAddress ulSize</FIELD>
          <TYPE>UINT32 NONE UNIT32</TYPE>
          <RANGE>NONE#NONE NONE#NONE NONE#NONE</RANGE>
          <DEFAULT-VALUE></DEFAULT-VALUE>
          <ELEMENT-COMMENT></ELEMENT-COMMENT>
          <STRUCTURE-COMMENT>/* Ram Sectors to be initialized when power on reset */</STRUCTURE-COMMENT>
          <REFERENCE>NONE NONE NONE</REFERENCE>
          <MEMMAP-START>#define OS_START_SEC_CONST_UNSPECIFIED
#include "MemMap.h"</MEMMAP-START>
          <MEMMAP-STOP>#define OS_STOP_SEC_CONST_UNSPECIFIED
#include "MemMap.h"</MEMMAP-STOP>
          <ENTRY-TYPE></ENTRY-TYPE>
        </STRUCTURE-ARRAY-ENTRY>
      </STRUCTURES-AND-ARRAYS>
    </Os_Imp_Cfg.c>
  </OUTPUT-FILES>
</GENERAL-INFORMATION>
<!--
################################################################################
# Revision History:                                                            #
# Version No.  Last modified  Author           Description                     #
################################################################################
# 2.1.0        21-Dec-2020    JH.Cho           Redmine #27287                  #
# 2.0.1        14-Aug-2020    JH.Cho           Redmine #25097, #25134          #
# 2.0.0        17-Jun-2020    JH.Cho           Redmine #24132                  #
# 1.0.0        02-Mar-2020    MJ.Woo           Redmine #20864                  #
################################################################################
-->
